// Mixin for centering elements
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for handling media queries
@mixin media-query($breakpoint,$breakpointmax) {
  @media (min-width: $breakpoint) and (max-width:$breakpointmax) {
    @content;
  }
}
@mixin media-query2($breakpoint) {
  @media (min-width: $breakpoint){
    @content;
  }
}

@mixin media-query3($breakpointmax) {
  @media (max-width: $breakpointmax){
    @content;
  }
}

// Define colors
$circle-color-1: #4e89ae;
$circle-color-2: #43658b;
$circle-color-3: #ed6663;
$circle-color-4: #ffa372;
$header-footer-bg-color: #8ccff7;
$circle-hover-color: #444;

// Define circle radii
$circle-radius-1: 70px;
$circle-radius-2: 80px;
$circle-radius-3: 90px;
$circle-radius-4: 100px;

//Basic SCSS
body{
  background-color: #e2eff1;
  margin:0;
}
// SCSS for the header
.header {
  background-color: $header-footer-bg-color;
  text-align: center;
  margin-bottom:50px;

  .header-image {
    max-width: 100%;
    margin-bottom:-3px;
  }
}

// SCSS for the container
.container {
  .row {
    height: 40px;
    margin:0;

    &:hover {
      background-color: $circle-hover-color;
    }
  }

  // Circles should be inline at 621px and above
  // Otherwise, they should stack vertically
  .circles {
    @include media-query3(620) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .circles {
        flex: 1;
      }
    }
  }

  .row-1 {
    background-color: $circle-color-1;
  }
  .row-2 {
    background-color: $circle-color-2;
  }
  .row-3 {
    background-color: $circle-color-3;
  }
  .row-4 {
    background-color: $circle-color-4;
  }

  .circles{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .circle {
    border-radius: 50%;
    display: inline-flex;
    justify-content: space-around;
    margin:5px;
    
    &:hover {
      background-color: $circle-hover-color;
    }
  }

  .circle-1 {
    background-color: $circle-color-1;
    width: $circle-radius-1;
    height: $circle-radius-1;
  }

  .circle-2 {
    background-color: $circle-color-2;
    width: $circle-radius-2;
    height: $circle-radius-2;
  }

  .circle-3 {
    background-color: $circle-color-3;
    width: $circle-radius-3;
    height: $circle-radius-3;
  }
  .circle-4 {
    background-color: $circle-color-4;
    width: $circle-radius-4;
    height: $circle-radius-4;
  }
}

// SCSS for the footer
.footer {
  background-color: $header-footer-bg-color;
  height: 50px;
}

// Media queries for header image URL
@include media-query(481,800) {
  .header .header-image {
    content: url('https://via.placeholder.com/300');
  }
}

@include media-query3(480) {
  .header .header-image {
    content: url('https://via.placeholder.com/200');
  }
}
