/*general body styles*/
body{
    font-family:monospace; /*changing the font*/
    margin:auto;
    align-items: center;
    background-color:#f6f6f7; /*adding a background color*/
}

/*paragraph styles*/
p{
    font-size:12px;
    margin:15px;
}

/*main section styles*/
main{
    background-color: white;
}

/*images styles*/
section img{
    max-width: 100%;/*added max-width so that the images fit*/
    height:auto;
    float:inline-start; /*to avoid spacing between the images*/

}

/*logo styles*/
#logo{
    width:5%;
    margin-left: 10px;
    margin-top:10px;
}

/*footer styles*/

footer{
    background-color: black; /*changed the background color*/
    color:white;
    text-align: center;
    padding:20px;
    font-size:12px;
    margin-bottom:0px; /*to make sure the footer touches the bottom of the page*/
}

/*media queries*/

@media screen and (max-width:480px){ /*for devices under the width of 480px*/
    img{
        width:100%; /*this will make the images be in one column*/
        background-color: white;
    }
}

@media screen and (min-width:481px) and (max-width:800px){ /*for devices within the width of 481px and 800px*/
    img{
        width:50%;/*this will make the images be in two column*/
        display:inline-block;
        background-color: white;
    }
}
@media screen and (min-width:801px) and (max-width:1024px){ /*for devices within the width of 801px and 1024px*/
    img{
        width:33.33%; /*this will make the images be in three column*/
        background-color: white;
    }
}

@media screen and (min-width:1025px){ /*for devices over the width of 1025px*/
    img{
        width:33.33%; /*this will make the images be in three column*/
    }
    body{
        margin-left:160px; /*to bring out the background colour of main*/
        margin-right:160px;
    }
}

