body {
    font-family: Arial, sans-serif;
}

header{
    margin-bottom:10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF;
    text-align: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    margin-left:30px;
    margin-right:80px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left:300px;
    margin-right:300px;
    padding:10px;
    padding-right:120px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
}

.flexbox-right{
    flex: 2;
    display: flex;
}


.row1,.row2{
    flex: 1;
}

.movie {
    background-color: #f0f0f0a2;
    border: 1px solid #ccc;
    padding: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 550px;
}

img {
    width: 100%;
    height: auto;
}

.movie h3 {
    margin: 10px 0;
}

.movie button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float:right;
    font-size:10px;
}

.movie1 {
    padding: 0;
    height:850px;
    flex: 2 ;
    margin-top: 10px;

}

.movie1 img{
    height:590px;
    width:auto; 
}
.movie2,.movie3,.movie4,.movie5{
    margin: 6px;

}

.movie1 h3, .movie1 p   {
    padding-right:20px;
    padding-left:20px;
}

.movie1 button{
    margin-right:20px;
}

p{
    font-size:14px;
}