/*importing the font*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

/*general body styles*/
body{
    font-family: 'Titillium Web', sans-serif; /*changing the font*/
    margin:auto;
}

/*header styles*/
header{
    margin-bottom:10px;
}

/*footer styles*/
footer{
    text-align: center;
    margin:20px;
    font-size:10px;
}

/*navigation styles*/
nav {
    display: flex;/*setting the display to flex*/
    justify-content: space-between;
    align-items: center;/*aligning items to center*/
    background-color: #1E90FF;
    text-align: center;
    height:70px;/*setting the height*/
}

/*navigation list styles*/
nav ul {
    list-style: none; /*to remove bullet points*/
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /*to align the items in a line*/
    margin-right: 20px;
    font-size:15px;
}

/*navigation link styles*/
nav a {
    text-decoration: none;
    color: #fff;
}


/*Logo - What's On styles*/
.logo {
    color: #fff;
    font-size: 24px;
    margin-left:20px;
    margin-right:80px;
}

/*search bar styles*/
.search-bar {
    flex-grow: 1;
    display: flex;/*setting display to flex*/
    align-items: center;
    margin-left:370px;
    margin-right:430px;
    padding:10px;
}

.search-bar input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px; /*giving the search bar rounded corners*/
    margin-right: 200px;
}

/*general container styles*/
.container {
    display: flex;/*setting display to flex*/
    margin-left: 240px;
    margin-right: 240px;
}

.row1,.row2{
    flex: 1;/*ratio*/
}

/*general movie styles*/
.movie {
    background-color: #f0f0f0a2;
    border: 1px solid #ccc;
    padding: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);/*adding shadow behind the box*/
    height: 530px;
}
/*1st div styles*/
.movie1 {
    padding: 0;
    height:800px;
    flex: 3 ;
    margin-top: 10px;
}

/*2nd div styles*/
.flexbox-right{
    flex: 2;/*ratio*/
    display: flex;
    margin-top:4px;
}


/*image styles*/
img {
    width: 100%;
    height: auto;
}

/*text styles*/
.movie h3 {
    margin: 10px 0;
}

.movie1 h3, .movie1 p   {
    padding-right:20px;
    padding-left:20px;
}

p{
    font-size:14px;
}

/*button styles*/
.movie button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float:right; /*to make the button stay on the right*/
    font-size:10px;
    border-radius: 5px;/*rounded corners*/
}

.movie1 button{
    margin-right:20px;
}

/*avengers styles*/
.movie1 img{
    height:auto;
    width:100%; 
}

/*the rest of the movies styles*/
.movie2,.movie3,.movie4,.movie5{
    margin: 6px;

}

.menu{
    display:none;/*the display is set to none so it is not visible in the normal screen*/
}

/*media queries*/
@media screen and (max-width:1280px) and (min-width:1025px){  /*for devices within the width of 1025px and 1280px*/
    nav{
        width:auto;
    }
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .search-bar {
        margin-left:200px;
        margin-right:200px;
    }
    body{
        margin:0px;
    }
    .movie1{
        height:900px;
    }
}

@media screen and (max-width:1024px) and (min-width:801px){ /*for devices within the width of 801px and 1024px*/
    nav{
        width:auto;
    }
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .search-bar {
        margin-left:20px;
        margin-right:20px;
        padding-right:80px;
    }
    body{
        margin:0px;
    }

    .flexbox-right{
        flex:1;
        display:block;
    }
    .movie{
        height:auto;
        padding-bottom:70px;
    }

    .movie1{
        height:3%;
    }
}

@media screen and (max-width:800px) and (min-width:481px){ /*for devices within the width of 481px and 800px*/
    .navbar, .search-bar{
        display:none;  /*the display is set to none to make the navigation bar and search bar disappear*/
    }
    nav{
        width:auto;
    }
    .menu{
        display:block; /*instead of the navigation bar and search bar, the menu will appear now.*/
        color: #fff;
        margin-right:20px;
    }
    .container {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
    }

    .movie{
        height:auto;
        margin-bottom: auto;
        padding-bottom:70px;
    }

}
@media screen and (max-width:480px){ /*for devices under the width of 480px*/
    .navbar, .search-bar{
        display:none;
    }
    nav{
        width:auto;
    }
    .menu{
        display:block;
        color: #fff;
        margin-right:20px;
    }
    .container {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
    }

    .movie{
        height:auto;
        padding-bottom:70px;
    }

    .movie1{
        margin-right:6px;
        margin-left:6px;
    }
    .flexbox-right{
        flex-direction: column; /*to make everything go in one column*/
    }

}